# Minimal RetroArch config for Dreamcast (Beetle NGP static build)
config_save_on_exit = "false"
savefile_directory = "/sd/retroarch/savefiles"
savestate_directory = "/sd/retroarch/savestates"
system_directory = "/sd/retroarch/system"
screenshot_directory = "/sd/retroarch/screenshots"
cheat_database_path = "/sd/retroarch/cheats"
content_database_path = "/sd/retroarch/database/rdb"
playlist_directory = "/sd/retroarch/playlists"
assets_directory = "/sd/retroarch/assets"
video_driver = "dc"
audio_driver = "dc"
input_driver = "dc"
input_joypad_driver = "dc"
menu_driver = "rgui"
video_smooth = "false"
video_threaded = "false"
audio_enable = "true"
audio_sync = "true"
fps_show = "false"
load_content_in_background = "false"
all_users_control_menu = "true"
input_menu_toggle_gamepad_combo = "0"
rgui_show_start_screen = "false"
